.container {
  width: 1170px;
  padding: 120px 10px;
  margin: 0 auto;
}
.title-about {
  display: flex;
  max-width: 822px;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 25px;
  color: var(--black);
}
.text-about {
  max-width: 370px;
  font-size: 16px;
  margin-bottom: 20px;
}
.title,
.text-about {
  color: var(--black);
}
.buttom-about {
  color: var(--gray);
  text-decoration: underline;
  margin-bottom: 60px;
}
.photo-collection {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.for-mobile {
  display: none;
}

@media (max-width: 1270px) {
  .photo-collection {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .right-photo {
    display: none;
  }

  .title {
    margin-bottom: 15px;
  }

  .title-about {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: unset;
  }
  .about {
    display: flex;
    max-width: unset;
    align-items: center;
  }

  .photo-collection {
    display: flex;
    justify-content: center;
  }
  .buttom-about {
    margin-bottom: 30px;
  }
}

@media (max-width: 785px) {
  .for-mobile {
    display: unset;
    padding: 120px 10px;
  }
  .autumn {
    display: none;
  }
  .photo {
    display: flex;
    justify-content: center;
  }
  .title-mobile {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
  .mobile-photo {
    max-width: 320px;
    margin-bottom: 25px;
  }
  .mobile-about__text {
    text-align: left;
    margin: 0 auto;
    max-width: 260px;
  }
  .mobile-about__item {
    font-size: 11px;
    color: var(--black);
    margin-bottom: 15px;
  }
  .mobile-bottom-about {
    color: var(--gray);
    font-size: 13px;
  }
}
