.conteiner {
  margin: 120px auto;
  width: 1170px;
}

.autumn-collection {
  max-width: 822px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

.collection-about {
  width: 370px;
  font-size: 16px;
  margin-bottom: 20px;
}

.collection-title {
  font-size: 25px;
  color: var(--black);
}

.photo-collection {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button-about {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--gray);
  margin-bottom: 60px;
}

.photo1 {
  height: 694px;
  width: 669px;
}

.photo2 {
  height: 694px;
  width: 470px;
}

.button-about:hover {
  color: var(--black);
  transition: all 0.2s ease-in;
}
.mobile {
  display: none;
}
@media (max-width: 430px) {
  .conteiner {
    display: none;
  }
  .mobile {
    display: block;
    width: 332px;
    margin: auto;
  }
  .collection-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }
  .mobile-photo {
    margin-bottom: 25px;
    height: 332px;
    width: 320px;
  }

  .collection-about {
    font-size: 11px;

    width: 260px;
  }
  .button-about {
    font-size: 13px;
  }
}
