.banner {
  background-image: url(../img-banner/bg-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  overflow-x: hidden;
}
.header__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__store {
  display: flex;
  gap: 45px;
}
.nav__item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black-color);
}
.header__button-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-collection {
  height: 700px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.left,
.right {
  position: absolute;
  color: var(--white-color);
}
.left:hover,
.right:hover {
  color: var(--gray-color);
  transition: all 0.2s ease;
}
.left {
  top: 330px;
  left: -100px;
}

.right {
  top: 330px;
  right: -70px;
  rotate: 180deg;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white-color);
  max-width: 382px;
  text-align: center;
  align-items: center;
  gap: 25px;
}
.autumn-summer-title {
  font-size: clamp(20px, 2.3vw, 25px);
}
.romantic-about {
  font-size: clamp(43px, 5.38vw, 63px);
  font-family: Playfair Display;
}
.button-catalog {
  max-width: 300px;
  background-color: var(--white-color);
  padding: 19px 65px;

  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-catalog p {
  color: var(--black-color);
}
.svg-button {
  color: var(--black-color);
}
.svg-button:hover,
.nav__item:hover {
  color: var(--gray-color);
  transition: all 0.2s ease;
  cursor: pointer;
}
.slider-swap {
  display: flex;
  justify-content: center;
  gap: 10px;

  height: 30px;
}

.circle {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  color: var(--black-color);
  background-color: var(--white-color);
}
.circle-active {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  color: var(--gray-color);
  background-color: var(--gray-color);
}
.circle:hover {
  background-color: var(--gray-color);
}
.input {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.74 10.68C3.004 10.68 0.8 8.47605 0.8 5.74005C0.8 3.00405 3.004 0.800049 5.74 0.800049C8.476 0.800049 10.68 3.00405 10.68 5.74005C10.68 8.47605 8.476 10.68 5.74 10.68ZM5.74 1.56005C3.422 1.56005 1.56 3.42205 1.56 5.74005C1.56 8.05805 3.422 9.92005 5.74 9.92005C8.058 9.92005 9.92 8.05805 9.92 5.74005C9.92 3.42205 8.058 1.56005 5.74 1.56005Z' fill='%236F6F6F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 11px 11px;
  padding-left: 18px;
  border: none;
  border-bottom: 1px solid var(--black-color);
  background-color: transparent;
  outline: none;
}
@media (max-width: 1200px) {
  .header__tools {
    width: 100%;
    background-color: var(--white-color);
    padding: 15px 30px;
  }

  .about-collection {
    justify-content: center;
  }

  .nav__item,
  .input,
  .like {
    display: none;
  }
  .burger__nav-button {
    display: flex;
    width: 19px;
    height: 12.5px;
    flex-direction: column;
    gap: 4px;
  }
  .line {
    height: 1.5px;
    width: 19px;
    border: 1px solid var(--black-color);
  }
}

@media (max-width: 425px) {
  .banner {
    background-image: url(../img-banner/banner-mobile.jpg);
    background-position: 100% -50%;
  }
  .slider-swap {
    height: unset;
  }
}
.button-catalog p {
  font-size: 14px;
}
