.banner {
  background-image: url(../img-banner/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 954px;
}

.banner__nav {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}
.banner__links {
  display: flex;
  align-items: center;
  gap: 45px;
}
.banner__links a {
  font-family: Montserrat;
}
.banner__input {
  display: flex;
  align-items: center;
}
.input {
  background-color: transparent;
  border-bottom: 1px solid var(--black);
  outline: none;
}
.banner__tools {
  display: flex;
  align-items: center;
  gap: 20px;
}

.like:hover,
.bag:hover,
.profile:hover,
.banner__links a:hover {
  color: var(--gray);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.banner__burger-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.burger__line {
  height: 1px;
  width: 19px;
  border: 1px solid var(--black);
}
.banner__burger-button {
  display: none;
}
.banner__content {
  height: 750px;
  align-items: center;
}
.banner__about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
}
.banner__title {
  font-size: 25px;
}

.banner__romantic-text {
  font-size: 63px;
}
.banner__romantic-text p {
  text-align: center;
}
.banner__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.banner__button-about {
  display: flex;
  background-color: var(--white);
  width: 300px;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.banner__button-about p {
  font-size: 16px;
  color: var(--black);
}
.slider {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.circle__slider {
  display: flex;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--white);
}
.banner__button-about:hover {
  background-color: var(--black);
  transition: all 0.2s ease;
}
.banner__button-about:hover p {
  color: var(--white);
  transition: all 0.2s ease;
}
.circle__slider:hover {
  background-color: var(--gray);
}
@media (max-width: 1200px) {
  .banner__burger-button {
    display: flex;
  }
  .banner__links {
    display: none;
  }
  .banner__input {
    display: none;
  }
  .banner__about {
    align-items: center;
  }
}
@media (max-width: 520px) {
  .banner {
    background-image: url(../img-banner/banner-mobile.jpg);
    background-position: 0 34px;
  }

  .banner__nav {
    background-color: var(--white);
    gap: unset;
  }
  .like {
    display: none;
  }
}
@media (max-width: 425px) {
  .banner {
    background-position: -72px 34px;
  }
  .banner__title h2 {
    font-size: 20px;
  }
  .banner__romantic-text p {
    font-size: 43px;
  }
}
@media (max-width: 320px) {
  .banner {
    background-position: -130px 30px;
  }
}
