.collection {
  width: 1170px;
  margin: 100px auto;
  max-width: 100%;
  box-sizing: border-box;
}

.collection__title {
  letter-spacing: 3%;
  line-height: 113%;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 30px;
  color: var(--black);
  font-family: "Montserrat", sans-serif;
}

.collection__products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.collection__products-big {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  gap: 30px;
}

.product-card {
  width: 270px;
  height: 416px;
  position: relative;
  margin-bottom: 30px;
}

.product-card--big {
  height: 712px;
  width: 570px;
}

.product-card__image-wrapper {
  position: relative;
}

.product-card__image {
  width: 270px;
  height: 353px;
  margin-bottom: 20px;
  display: block;
}

.product-card__image--big {
  width: 570px;
  height: 649px;
}

.product-card__like {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.product-card__like-icon {
  color: white;
  transition: color 0.3s ease;
}

.product-card__like:hover .product-card__like-icon,
.product-card__like:active .product-card__like-icon {
  color: black;
}

.product-card__name,
.product-card__price {
  color: var(--black);
  font-family: "Montserrat", sans-serif;
}

.product-card__name {
  margin-top: 20px;
  margin-bottom: 8px;
}
.product-card__name:hover,
.product-card__name:active,
.product-card__price:hover,
.product-card__price:active {
  text-decoration: underline;
  text-decoration-color: blue;
  transition: text-decoration-color 0.3s ease;
}
